

@include mediaSm {
    .navbar-nav {
        visibility: hidden;
    }

    .heading-primary__main--1,
    .heading-primary__main--2 {
        font-size: 4rem;
    }

    .heading-primary__sub,
     {
        font-size: 1.3rem;
    }

    // about

    .about-staff {
        padding: 2rem;
    }

    

    // programs page

    .programs-wrapper {
        padding: 2rem;
    }

    .skate-section__wrapper,
    .hike-section__wrapper,
    .run-section__wrapper {
        grid-template-columns: 1fr;
    }

    .skate-section__img,
    .hike-section__img,
    .run-section__img {
        height: 30rem;
        order: -1;
    }
    
    
    


}

@include mediaMd {
    .heading-primary__main--1,
    .heading-primary__main--2 {
        font-size: 7rem;
    }

    .heading-primary__sub,
    .heading-primary__determiner {
        font-size: 1.8rem;
    }

    // about page

    .about-staff__img {
    
        height: 40rem;
        margin-bottom: 4rem;
   
    }

    .about-staff__bio-text {
        font-size: 2rem;
        line-height: 4rem;
        
    }

    // programs page

    .skate-section__wrapper,
    .hike-section__wrapper,
    .run-section__wrapper {
        grid-template-columns: 1fr;
    }

    

    .skate-section__img,
    .hike-section__img,
    .run-section__img {
        height: 30rem;
        order: -1;
    }
    

    

}

@include mediaLg {
    .heading-primary__main--1,
    .heading-primary__main--2 {
        font-size: 10rem;
    }

    .heading-primary__sub {
        font-size: 2rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    // programs page

    .skate-section__wrapper,
    .run-section__wrapper {
        grid-template-columns: 2fr 1.5fr;
    }

    .hike-section__wrapper {
        grid-template-columns: 1.5fr 2fr;
    }

    .hike-section__paragraph,
    .skate-section__paragraph,
    .run-section__paragraph {
        font-size: 1.7rem;
        line-height: 3rem;
        margin-bottom: 2rem;
        
    }

    
}

@include mediaXl {

    .heading-primary__main--1,
    .heading-primary__main--2 {
        font-size: 15rem;
    }

    .heading-primary__sub {
        font-size: 3rem;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    

    .contact__container {
        margin: 8rem;
    }


    // programs page

    .programs-wrapper {
        padding: 10rem;
        padding-top: 5rem;
    }


}