

@include mediaSm {
    .navbar-nav {
        visibility: hidden;
    }

    .heading-primary__main--1,
    .heading-primary__main--2 {
        line-height: 6rem;
    }

    .heading-primary__main--1 {
        font-size: 4.5rem;
        text-shadow: .5px .5px .5px white;
    }

    .heading-primary__main--2 {
        font-size: 3rem;
    }

    .heading-primary__sub {
        font-size: 1.3rem;
        line-height: 3rem;
        margin-top: 2rem;
    }

    // about

    .about-staff {
        padding: 2rem;
    }


}

@include mediaMd {
    .heading-primary__main--1 {
        font-size: 8rem
    }
     
    .heading-primary__main--2 {
        font-size: 5rem;
    }

    .heading-primary__sub {
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    // about page

    .about-staff__img {
    
        height: 40rem;
        margin-bottom: 4rem;
   
    }

    .about-staff__bio-text {
        font-size: 2rem;
        line-height: 4rem;
        
    }

    

    

}

@include mediaLg {
    .heading-primary__main--1 {
        font-size: 12rem;
    }

    .heading-primary__main--2 {
        font-size: 7rem;
    }



    .heading-primary__sub {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

  

    
}

@include mediaXl {

    .heading-primary__main--1 {
        font-size: 18rem;
    }
    .heading-primary__main--2 {
        font-size: 11rem;
    }

    .heading-primary__sub {
        font-size: 3rem;
        margin-top: 2rem;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    

    .contact__container {
        margin-top: 2rem;
    }


   


}